* {
    box-sizing: border-box;
}

h1{
    color: darkgreen;
    background-color:lightblue;
    margin: 0;
    height: 10%;
    border-radius: 0 0 5% 5%;
    text-align: center;
}

body {
    margin:0;

}

section{
    border: 5px solid black;
    display: flex;
    flex-direction: column;
}

div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}